<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Home Page</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">

		<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Date</th>
							<th>Title</th>
							<td>Description</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="blog:${blogs}">
							<td th:text="${blog.title}"></td>
							<td th:text="${blog.date}"></td>
							<td th:text="${blog.description}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>